<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../dist/css/main.css">
</head>

<body>
    <div class="dob-datepicker">
        <div class="dob-datepicker__header">
            When is your birthday?
        </div>

        <div class="dob-datepicker__selection-header">
            Select day
        </div>

        <div class="dob-datepicker__options">
            <div class="dob-datepicker__day">

                <button class="dob-datepicker__day__button">
                    1
                    <sup class="dob-datepicker__day__ordinal-number">
                        st
                    </sup>
                </button>
                <button class="dob-datepicker__day__button">
                    2
                    <sup class="dob-datepicker__day__ordinal-number">
                        nd
                    </sup>
                </button>
                <button class="dob-datepicker__day__button">
                    3
                    <sup class="dob-datepicker__day__ordinal-number">
                        rd
                    </sup>
                </button>
                <button class="dob-datepicker__day__button">
                    4
                    <sup class="dob-datepicker__day__ordinal-number">
                        th
                    </sup>
                </button>
                <button class="dob-datepicker__day__button">
                    5
                    <sup class="dob-datepicker__day__ordinal-number">
                        th
                    </sup>
                </button>
                <button class="dob-datepicker__day__button">
                    6
                    <sup class="dob-datepicker__day__ordinal-number">
                        th
                    </sup>
                </button>
                <button class="dob-datepicker__day__button">
                    7
                    <sup class="dob-datepicker__day__ordinal-number">
                        th
                    </sup>
                </button>
                <button class="dob-datepicker__day__button">
                    8
                    <sup class="dob-datepicker__day__ordinal-number">
                        th
                    </sup>
                </button>
                <button class="dob-datepicker__day__button">9</button>
                <button class="dob-datepicker__day__button">10</button>
                <button class="dob-datepicker__day__button">11</button>
                <button class="dob-datepicker__day__button">12</button>
                <button class="dob-datepicker__day__button">13</button>
                <button class="dob-datepicker__day__button">14</button>
                <button class="dob-datepicker__day__button">15</button>
                <button class="dob-datepicker__day__button">16</button>
                <button class="dob-datepicker__day__button">17</button>
                <button class="dob-datepicker__day__button">18</button>
                <button class="dob-datepicker__day__button">19</button>
                <button class="dob-datepicker__day__button">20</button>
                <button class="dob-datepicker__day__button">21</button>
                <button class="dob-datepicker__day__button">22</button>
                <button class="dob-datepicker__day__button">23</button>
                <button class="dob-datepicker__day__button">24</button>
                <button class="dob-datepicker__day__button">25</button>
                <button class="dob-datepicker__day__button">26</button>
                <button class="dob-datepicker__day__button">27</button>
                <button class="dob-datepicker__day__button">28</button>
                <button class="dob-datepicker__day__button">29</button>
                <button class="dob-datepicker__day__button">30</button>
                <button class="dob-datepicker__day__button">31</button>


            </div>



        </div>

 <button class="dob-datepicker__reset">
            <div class="dob-datepicker__reset-icon">↺</div>
            <div class="dob-datepicker__reset-text">
                Reset
            </div>
        </button>
        <!-- <div class="dob-datepicker__reset">
            Reset and try again
        </div> -->
    </div>
</body>

</html>