<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../dist/css/main.css">
</head>
<body style="padding:10px; background-color: antiquewhite;">
    <div class="dob-datepicker">
        <div class="dob-datepicker__header">
            When is your birthday?
        </div>

        <div class="dob-datepicker__selection-header">
            Select month
        </div>

        <div class="dob-datepicker__options">
            <div class="dob-datepicker__month">

                <!-- <div class="dob-datepicker__month__row"> -->
                    <button class="dob-datepicker__month__button">January</button>
                    <button class="dob-datepicker__month__button">February</button>
                    <button class="dob-datepicker__month__button">March</button>
                <!-- </div> -->
                <!-- <div class="dob-datepicker__month__row"> -->
                    <button class="dob-datepicker__month__button">April</button>
                    <button class="dob-datepicker__month__button">May</button>
                    <button class="dob-datepicker__month__button">June</button>
                <!-- </div> -->
                <!-- <div class="dob-datepicker__month__row"> -->
                    <button class="dob-datepicker__month__button">July</button>
                    <button class="dob-datepicker__month__button">August</button>
                    <button class="dob-datepicker__month__button">September</button>
                <!-- </div> -->
                <!-- <div class="dob-datepicker__month__row"> -->
                    <button class="dob-datepicker__month__button">October</button>
                    <button class="dob-datepicker__month__button">November</button>
                    <button class="dob-datepicker__month__button">Desember</button>
                <!-- </div> -->
            </div>



        </div>

         <button class="dob-datepicker__reset">
            <div class="dob-datepicker__reset-icon">↺</div>
            <div class="dob-datepicker__reset-text">
                Reset
            </div>
        </button>

    </div>
</body>
</html>