<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../dist/css/main.css">
</head>

<body style="padding:10px; background-color: antiquewhite;">
    <div class="dob-datepicker__wrapper">
        <div class="dob-datepicker__background"></div>
        <div class="dob-datepicker">
    
            <div class="top-arrow"></div>
            <div class="dob-datepicker__header">
                When is your birthday?
            </div>
    
            <div class="dob-datepicker__selection-header">
                Select year
            </div>
    
            <div class="dob-datepicker__options">
                <div class="dob-datepicker__year dob-datepicker__year--snap-active">
    
                    <div class="dob-datepicker__year__year-section dob-datepicker__year__year-section--snap-active">
    
                        <div class="dob-datepicker__year__year-section-header">
                            Year 2000 - 2020
                        </div>
    
                        <div class="dob-datepicker__year__wrapper">
                            <button class="dob-datepicker__year__button">
                                <span class="dob-datepicker__year__button__first">20</span>
                                <span class="dob-datepicker__year__button__last">20</span>
                            </button>
                            <button class="dob-datepicker__year__button">
                                <span class="dob-datepicker__year__button__first">20</span>
                                <span class="dob-datepicker__year__button__last">19</span>
                            </button>
                            <button class="dob-datepicker__year__button">
                                <span class="dob-datepicker__year__button__first">20</span>
                                <span class="dob-datepicker__year__button__last">18</span>
                            </button>
                            <button class="dob-datepicker__year__button">
                                <span class="dob-datepicker__year__button__first">20</span>
                                <span class="dob-datepicker__year__button__last">17</span>
                            </button>
                            <button class="dob-datepicker__year__button">
                                <span class="dob-datepicker__year__button__first">20</span>
                                <span class="dob-datepicker__year__button__last">16</span>
                            </button>
                            <button class="dob-datepicker__year__button">
                                <span class="dob-datepicker__year__button__first">20</span>
                                <span class="dob-datepicker__year__button__last">15</span>
                            </button>
                            <button class="dob-datepicker__year__button">
                                <span class="dob-datepicker__year__button__first">20</span>
                                <span class="dob-datepicker__year__button__last">14</span>
                            </button>
                            <button class="dob-datepicker__year__button">
                                <span class="dob-datepicker__year__button__first">20</span>
                                <span class="dob-datepicker__year__button__last">15</span>
                            </button>
                            <button class="dob-datepicker__year__button">
                                <span class="dob-datepicker__year__button__first">20</span>
                                <span class="dob-datepicker__year__button__last">16</span>
                            </button>
    
                            <button class="dob-datepicker__year__button">
                                <span class="dob-datepicker__year__button__first">20</span>
                                <span class="dob-datepicker__year__button__last">15</span>
                            </button>
                            <button class="dob-datepicker__year__button">
                                <span class="dob-datepicker__year__button__first">20</span>
                                <span class="dob-datepicker__year__button__last">14</span>
                            </button>
                            <button class="dob-datepicker__year__button">
                                <span class="dob-datepicker__year__button__first">20</span>
                                <span class="dob-datepicker__year__button__last">13</span>
                            </button>
                            <button class="dob-datepicker__year__button">
                                <span class="dob-datepicker__year__button__first">20</span>
                                <span class="dob-datepicker__year__button__last">12</span>
                            </button> <button class="dob-datepicker__year__button">
                                <span class="dob-datepicker__year__button__first">20</span>
                                <span class="dob-datepicker__year__button__last">11</span>
                            </button>
                            <button class="dob-datepicker__year__button">
                                <span class="dob-datepicker__year__button__first">20</span>
                                <span class="dob-datepicker__year__button__last">10</span>
                            </button>
                            <button class="dob-datepicker__year__button">
                                <span class="dob-datepicker__year__button__first">20</span>
                                <span class="dob-datepicker__year__button__last">20</span>
                            </button>
                            <button class="dob-datepicker__year__button">
                                <span class="dob-datepicker__year__button__first">20</span>
                                <span class="dob-datepicker__year__button__last">20</span>
                            </button> <button class="dob-datepicker__year__button">
                                <span class="dob-datepicker__year__button__first">20</span>
                                <span class="dob-datepicker__year__button__last">20</span>
                            </button> <button class="dob-datepicker__year__button">
                                <span class="dob-datepicker__year__button__first">20</span>
                                <span class="dob-datepicker__year__button__last">20</span>
                            </button> <button class="dob-datepicker__year__button">
                                <span class="dob-datepicker__year__button__first">20</span>
                                <span class="dob-datepicker__year__button__last">20</span>
                            </button>
                        </div>
    
                        <div class="dob-datepicker__year__year-section-next">
                            ⌄
                        </div>
    
    
                    </div>
    
                    <div class="dob-datepicker__year__year-section dob-datepicker__year__year-section--snap-active">
    
                        <div class="dob-datepicker__year__year-section-header">
                            Year 2000 - 2020
                        </div>
    
                        <div class="dob-datepicker__year__wrapper">
                            <button class="dob-datepicker__year__button">
                                <span class="dob-datepicker__year__button__first">20</span>
                                <span class="dob-datepicker__year__button__last">20</span>
                            </button>
                            <button class="dob-datepicker__year__button">
                                <span class="dob-datepicker__year__button__first">20</span>
                                <span class="dob-datepicker__year__button__last">19</span>
                            </button>
                            <button class="dob-datepicker__year__button">
                                <span class="dob-datepicker__year__button__first">20</span>
                                <span class="dob-datepicker__year__button__last">18</span>
                            </button>
                            <button class="dob-datepicker__year__button">
                                <span class="dob-datepicker__year__button__first">20</span>
                                <span class="dob-datepicker__year__button__last">17</span>
                            </button>
                            <button class="dob-datepicker__year__button">
                                <span class="dob-datepicker__year__button__first">20</span>
                                <span class="dob-datepicker__year__button__last">16</span>
                            </button>
                            <button class="dob-datepicker__year__button">
                                <span class="dob-datepicker__year__button__first">20</span>
                                <span class="dob-datepicker__year__button__last">15</span>
                            </button>
                            <button class="dob-datepicker__year__button">
                                <span class="dob-datepicker__year__button__first">20</span>
                                <span class="dob-datepicker__year__button__last">14</span>
                            </button>
                            <button class="dob-datepicker__year__button">
                                <span class="dob-datepicker__year__button__first">20</span>
                                <span class="dob-datepicker__year__button__last">15</span>
                            </button>
                            <button class="dob-datepicker__year__button">
                                <span class="dob-datepicker__year__button__first">20</span>
                                <span class="dob-datepicker__year__button__last">16</span>
                            </button>
    
                            <button class="dob-datepicker__year__button">
                                <span class="dob-datepicker__year__button__first">20</span>
                                <span class="dob-datepicker__year__button__last">15</span>
                            </button>
                            <button class="dob-datepicker__year__button">
                                <span class="dob-datepicker__year__button__first">20</span>
                                <span class="dob-datepicker__year__button__last">14</span>
                            </button>
                            <button class="dob-datepicker__year__button">
                                <span class="dob-datepicker__year__button__first">20</span>
                                <span class="dob-datepicker__year__button__last">13</span>
                            </button>
                            <button class="dob-datepicker__year__button">
                                <span class="dob-datepicker__year__button__first">20</span>
                                <span class="dob-datepicker__year__button__last">12</span>
                            </button> <button class="dob-datepicker__year__button">
                                <span class="dob-datepicker__year__button__first">20</span>
                                <span class="dob-datepicker__year__button__last">11</span>
                            </button>
                            <button class="dob-datepicker__year__button">
                                <span class="dob-datepicker__year__button__first">20</span>
                                <span class="dob-datepicker__year__button__last">10</span>
                            </button>
                            <button class="dob-datepicker__year__button">
                                <span class="dob-datepicker__year__button__first">20</span>
                                <span class="dob-datepicker__year__button__last">20</span>
                            </button>
                            <button class="dob-datepicker__year__button">
                                <span class="dob-datepicker__year__button__first">20</span>
                                <span class="dob-datepicker__year__button__last">20</span>
                            </button> <button class="dob-datepicker__year__button">
                                <span class="dob-datepicker__year__button__first">20</span>
                                <span class="dob-datepicker__year__button__last">20</span>
                            </button> <button class="dob-datepicker__year__button">
                                <span class="dob-datepicker__year__button__first">20</span>
                                <span class="dob-datepicker__year__button__last">20</span>
                            </button> <button class="dob-datepicker__year__button">
                                <span class="dob-datepicker__year__button__first">20</span>
                                <span class="dob-datepicker__year__button__last">20</span>
                            </button>
                        </div>
    
                        <div class="dob-datepicker__year__year-section-next">
                            ⌄
                        </div>
    
    
                    </div>
    
                    <div class="dob-datepicker__year__year-section dob-datepicker__year__year-section--snap-active">
    
                        <div class="dob-datepicker__year__year-section-header">
                            Year 2000 - 2020
                        </div>
    
                        <div class="dob-datepicker__year__wrapper">
                            <button class="dob-datepicker__year__button">
                                <span class="dob-datepicker__year__button__first">20</span>
                                <span class="dob-datepicker__year__button__last">20</span>
                            </button>
                            <button class="dob-datepicker__year__button">
                                <span class="dob-datepicker__year__button__first">20</span>
                                <span class="dob-datepicker__year__button__last">19</span>
                            </button>
                            <button class="dob-datepicker__year__button">
                                <span class="dob-datepicker__year__button__first">20</span>
                                <span class="dob-datepicker__year__button__last">18</span>
                            </button>
                            <button class="dob-datepicker__year__button">
                                <span class="dob-datepicker__year__button__first">20</span>
                                <span class="dob-datepicker__year__button__last">17</span>
                            </button>
                            <button class="dob-datepicker__year__button">
                                <span class="dob-datepicker__year__button__first">20</span>
                                <span class="dob-datepicker__year__button__last">16</span>
                            </button>
                            <button class="dob-datepicker__year__button">
                                <span class="dob-datepicker__year__button__first">20</span>
                                <span class="dob-datepicker__year__button__last">15</span>
                            </button>
                            <button class="dob-datepicker__year__button">
                                <span class="dob-datepicker__year__button__first">20</span>
                                <span class="dob-datepicker__year__button__last">14</span>
                            </button>
                            <button class="dob-datepicker__year__button">
                                <span class="dob-datepicker__year__button__first">20</span>
                                <span class="dob-datepicker__year__button__last">15</span>
                            </button>
                            <button class="dob-datepicker__year__button">
                                <span class="dob-datepicker__year__button__first">20</span>
                                <span class="dob-datepicker__year__button__last">16</span>
                            </button>
    
                            <button class="dob-datepicker__year__button">
                                <span class="dob-datepicker__year__button__first">20</span>
                                <span class="dob-datepicker__year__button__last">15</span>
                            </button>
                            <button class="dob-datepicker__year__button">
                                <span class="dob-datepicker__year__button__first">20</span>
                                <span class="dob-datepicker__year__button__last">14</span>
                            </button>
                            <button class="dob-datepicker__year__button">
                                <span class="dob-datepicker__year__button__first">20</span>
                                <span class="dob-datepicker__year__button__last">13</span>
                            </button>
                            <button class="dob-datepicker__year__button">
                                <span class="dob-datepicker__year__button__first">20</span>
                                <span class="dob-datepicker__year__button__last">12</span>
                            </button> <button class="dob-datepicker__year__button">
                                <span class="dob-datepicker__year__button__first">20</span>
                                <span class="dob-datepicker__year__button__last">11</span>
                            </button>
                            <button class="dob-datepicker__year__button">
                                <span class="dob-datepicker__year__button__first">20</span>
                                <span class="dob-datepicker__year__button__last">10</span>
                            </button>
                            <button class="dob-datepicker__year__button">
                                <span class="dob-datepicker__year__button__first">20</span>
                                <span class="dob-datepicker__year__button__last">20</span>
                            </button>
                            <button class="dob-datepicker__year__button">
                                <span class="dob-datepicker__year__button__first">20</span>
                                <span class="dob-datepicker__year__button__last">20</span>
                            </button> <button class="dob-datepicker__year__button">
                                <span class="dob-datepicker__year__button__first">20</span>
                                <span class="dob-datepicker__year__button__last">20</span>
                            </button> <button class="dob-datepicker__year__button">
                                <span class="dob-datepicker__year__button__first">20</span>
                                <span class="dob-datepicker__year__button__last">20</span>
                            </button> <button class="dob-datepicker__year__button">
                                <span class="dob-datepicker__year__button__first">20</span>
                                <span class="dob-datepicker__year__button__last">20</span>
                            </button>
                        </div>
    
                        <button class="dob-datepicker__year__year-section-next">
                            ⌄
                        </button>
    
    
                    </div>
    
                    <div class="dob-datepicker__year__year-section dob-datepicker__year__year-section--snap-active">
    
                        <div class="dob-datepicker__year__year-section-header">
                            Year 2000 - 2020
                        </div>
    
                        <div class="dob-datepicker__year__wrapper">
                            <button class="dob-datepicker__year__button">
                                <span class="dob-datepicker__year__button__first">20</span>
                                <span class="dob-datepicker__year__button__last">20</span>
                            </button>
                            <button class="dob-datepicker__year__button">
                                <span class="dob-datepicker__year__button__first">20</span>
                                <span class="dob-datepicker__year__button__last">19</span>
                            </button>
                            <button class="dob-datepicker__year__button">
                                <span class="dob-datepicker__year__button__first">20</span>
                                <span class="dob-datepicker__year__button__last">18</span>
                            </button>
                            <button class="dob-datepicker__year__button">
                                <span class="dob-datepicker__year__button__first">20</span>
                                <span class="dob-datepicker__year__button__last">17</span>
                            </button>
                            <button class="dob-datepicker__year__button">
                                <span class="dob-datepicker__year__button__first">20</span>
                                <span class="dob-datepicker__year__button__last">16</span>
                            </button>
                            <button class="dob-datepicker__year__button">
                                <span class="dob-datepicker__year__button__first">20</span>
                                <span class="dob-datepicker__year__button__last">15</span>
                            </button>
                            <button class="dob-datepicker__year__button">
                                <span class="dob-datepicker__year__button__first">20</span>
                                <span class="dob-datepicker__year__button__last">14</span>
                            </button>
                            <button class="dob-datepicker__year__button">
                                <span class="dob-datepicker__year__button__first">20</span>
                                <span class="dob-datepicker__year__button__last">15</span>
                            </button>
                            <button class="dob-datepicker__year__button">
                                <span class="dob-datepicker__year__button__first">20</span>
                                <span class="dob-datepicker__year__button__last">16</span>
                            </button>
    
                            <button class="dob-datepicker__year__button">
                                <span class="dob-datepicker__year__button__first">20</span>
                                <span class="dob-datepicker__year__button__last">15</span>
                            </button>
                            <button class="dob-datepicker__year__button">
                                <span class="dob-datepicker__year__button__first">20</span>
                                <span class="dob-datepicker__year__button__last">14</span>
                            </button>
                            <button class="dob-datepicker__year__button">
                                <span class="dob-datepicker__year__button__first">20</span>
                                <span class="dob-datepicker__year__button__last">13</span>
                            </button>
                            <button class="dob-datepicker__year__button">
                                <span class="dob-datepicker__year__button__first">20</span>
                                <span class="dob-datepicker__year__button__last">12</span>
                            </button> <button class="dob-datepicker__year__button">
                                <span class="dob-datepicker__year__button__first">20</span>
                                <span class="dob-datepicker__year__button__last">11</span>
                            </button>
                            <button class="dob-datepicker__year__button">
                                <span class="dob-datepicker__year__button__first">20</span>
                                <span class="dob-datepicker__year__button__last">10</span>
                            </button>
                            <button class="dob-datepicker__year__button">
                                <span class="dob-datepicker__year__button__first">20</span>
                                <span class="dob-datepicker__year__button__last">20</span>
                            </button>
                            <button class="dob-datepicker__year__button">
                                <span class="dob-datepicker__year__button__first">20</span>
                                <span class="dob-datepicker__year__button__last">20</span>
                            </button> <button class="dob-datepicker__year__button">
                                <span class="dob-datepicker__year__button__first">20</span>
                                <span class="dob-datepicker__year__button__last">20</span>
                            </button> <button class="dob-datepicker__year__button">
                                <span class="dob-datepicker__year__button__first">20</span>
                                <span class="dob-datepicker__year__button__last">20</span>
                            </button> <button class="dob-datepicker__year__button">
                                <span class="dob-datepicker__year__button__first">20</span>
                                <span class="dob-datepicker__year__button__last">20</span>
                            </button>
                        </div>
    
                        <div class="dob-datepicker__year__year-section-next">
                            ⌄
                        </div>
    
    
                    </div>
    
    
                </div>
    
    
    
            </div>
    
            <button class="dob-datepicker__reset">
                <div class="dob-datepicker__reset-icon">↺</div>
                <div class="dob-datepicker__reset-text">
                    Reset and try again
                </div>
            </button>
        </div>

    </div>
</body>

</html>