$datepicker__background-color: #ffffff;
$datepicker__border-color: #c9d4e0;
$datepicker__font-family: 'Lato', sans-serif;
$datepicker__font-color: #2d3748;
$datepicker__default-ring: 0px 0px 5px 5px rgba(59, 130, 246, 0.5);

$select-month__button__background-color: transparent;
$select-month__button__border-color: #63b3ed;
$select-month__button__divider-background-color: #e2e8f0;

$alert__font-color: red;
$popup-background__background-color: black;
$popup-background__opacity: 0.7